.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 0 1px var(--color-base-gray-300);
  background-color: var(--color-base-gray-300);
  height: 40px;
  align-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.navbar ul > li > a {
  text-decoration: none;
  font: var(--text-md);
  color: var(--color-base-gray-600);
  font-weight: bold;
}

.navbar ul > li > button {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1

}

.navbar ul > li > button > img {
  width: 20px; 
  height: 15px; 
  margin-right: 5px;
  
}

.navbar ul > li > button:hover {
  opacity: 0.7;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: var(--color-base-gray-600);
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }

  .navbar ul.menu {
    flex-direction: column;
    background-color: var(--color-base-gray-300);
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
  }

  .navbar ul.menu.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10;
  }

  .navbar ul.menu li {
    text-align: center;
    padding: 10px 0;
  }
}
