.social-bt {
  display: flex;
  width: 400px;
  height: 68px;
  border-radius: 8px;
  transition: box-shadow 0.5s ease;

  box-shadow: 0 0 0 1px var(--color-base-gray-300);

  background-color: var(--color-base-gray-300);

  &:hover {
    box-shadow: 0 0 0 1.5px #3996DB;
  }
}

.content {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 12px;
  text-decoration: none;

  img {
    width: 28px;
    height: 28px;


  }

  h3 {
    width: 288px;
    height: 22px;
  }
}

.arrow {
  background-image: url(../assets/ArrowUpRight.svg);

  width: 20px;
  height: 20px;

  margin-top: 4px;
}